#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theCalculator
GenericName=Calculator
Exec=/usr/bin/thecalculator
Icon=accessories-calculator
Categories=Utility;
