#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theCalculator
GenericName=Calculator
GenericName[de]=Taschenrechner
GenericName[nl]=Rekenmachine
GenericName[pt]=Calculadora
GenericName[pl]=Kalkulator
GenericName[vi]=Máy tính
Exec=/usr/bin/thecalculator
Icon=thecalculator
Categories=Utility;
